
.car {
    overflow: hidden;
}

.car img {
    height: 41rem;
}

.carousel-caption {
    margin-bottom: 14rem;
    font-family: 'poppins', sans-serif;
}

.carousel-caption h1 {
    font-weight: 700;
    font-size: 5rem;
}

.carousel-caption p {
    font-size: 16px;
}

.acordinn {
    overflow: hidden;
}


@media only screen and (max-width: 992px) {
    .carousel-caption {
        margin-bottom: 4rem;
        font-family: 'poppins', sans-serif;
    }
    .carousel-caption h1 {
        font-size: 4rem;
    }
}


@media only screen and (max-width: 576px)  {
    .carousel-caption {
        margin-bottom: 8rem;
        font-family: 'poppins', sans-serif;
        margin-right: 0;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .car-img {
        width: 100%;
        height: auto;
    }
}
