.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    transition: all .5s ease;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.navbar-brand {
    font-weight: 700;
}


.navbar-brand span {
    color: #03AAFB;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav li a:hover {
    color: #03AAFB;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, .6);
    z-index: 10;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #111;
}

.navbar .button-ku {
    border-radius: 40px;
    width: 100px;
    font-weight: 700;
    transition: .4s ease-in-out;
}

.navbar .button-ku:hover {
    background-color: #03AAFB;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, .7);
}

.bg-scroll {
    background-color: #111;
}



/* footer */

.footer {
    background-color: #03AAFB;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.social-media a:hover {
    transition: 500ms;
    color: #6e6e6e;
    border: 1px solid #6e6e6e;
}

.social-media a {
    transition: 500ms;
    color: #03AAFB;
}

.dropdown-menu.slide-down {
    animation: slide-down 0.3s ease-out;
}

.navbar-toggler {
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@keyframes slide-down {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}




@media only screen and (max-width: 500px) {
    .navbar {
        padding: 0;
        margin: 0;
    }
    
    .navbar-brand {
        font-size: 14px;
    }

    .navbar .button-ku {
        width: 70px;
        background-color: #000;
        color: #ffffff;
        border-radius: 10px;
        outline: none;
        border: none;
    
    }

    .navbar .button-ku:hover {
        color:  #ffffff;
        outline: none;
    }

}