body {
    right: 0;
    left: 0;
    font-family: 'poppins',sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 769px) {
    .img-choose img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

.img-choose:hover {
    transform: scale(1.02);
    transition: 500ms;
}


.img-choose {
    transition: 500ms;
    position: relative;
}

.img-choose::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
}

.why-choose-us {
    z-index: 2;
}

.card-header img {
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 4px 5px rgb(98, 98, 98);
    transition: transform 0.3s ease-in-out;
    
}

.card-header:hover img {
    transform: scale(1.05);
}

.card {
    height: 34rem;
}

.owl-carousel .owl-stage {
    margin-left: 7px;
}

.owl-carousel .owl-item {
    margin-right: 7px;
}

.text-breadcrumb a {
    color: white;
    transition: 300ms;
}

.text-breadcrumb a:hover {
    color: #003853;
    transition: 300ms;
}

.bread-crumb {
    background-color: #004D72;
    color: white;
}




/* ===========================portofolio===================== */

.porto {
    padding: 5rem 0;
}

.card-contain {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 350px;
    margin-bottom: 4rem;
    transition: all .5s ease-in-out;
    box-shadow: 0 5px 15px #000;
}

.card-contain img {
    transition: all .5s ease;
}

.card-contain:hover img {
    transform: scale(1.1);
}

.card-contain:hover .card-desk p {
    opacity: 1;
}

.card-contain:hover .card-desk .my-button {
    opacity: 1;
}

.card-contain .card-desk {
    position: absolute;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 1s ease;
}

.card-contain .card-desk h3 {
    font-size: 24px;
    color: #fff;
}

/* .deskription {
    display: none;
} */

.card-contain .card-desk h5 {
    font-size: 14px;
    color: #fff;
}

.card-contain .card-desk p {
    opacity: 0;
    font-size: 10px;
    color: #fff;
    transition: 1s ease;
}

.card-desk .my-button {
    opacity: 0;
    background-color: #6ba7c3;
    color: #fff;
    font-size: 14px;
    width: 150px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
}

.card-desk .my-button i {
    padding-left: 5px;
    transition: all .3s ease-in-out;
}

/* .card-contain:hover {
    transform: scale(1.1);
} */

.card-desk .my-button:hover {
    background: transparent;
    
}

.card-desk .my-button:hover i {
    transform: translateX(10px);
}


@media only screen and (max-width: 576px) {
    .card-contain {
        width: 330px;
        height: 330px;
    }
}

@media (max-width: 769px) {
    .img-choose img {
        height: 17rem;
        width: 100%;
        object-fit: cover;
    }
}

.mission h2 {
    color: #003853;
    font-weight: bold;
}

.item-misi:hover h2,
.item-misi:hover p {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    transition: 500ms;
}


.item-misi h2,
.item-misi p {
    transition: 500ms;
}

.item-misi:hover i {
    transform: scale(1.05);
    color: #323232;
    transition: 500ms;
}

.item-misi i {
    color: #646464;
    transition: 500ms;
}

/* ==============contact page css================= */

.btn-contact {
    color: white;
    background-color: #007DBA;
    font-weight: bold;
}

.btn-contact:hover {
    color: rgb(77, 77, 77);
    background-color: white;
    border: 3px solid #007DBA;
}

/* ===========service page css============ */

.service ul.list-unstyled li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px; 

}

.service ul.list-unstyled li i {
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
}

.service ul.list-unstyled li i.fas.fa-check {
    color: #28a745;
}

.service-item button {
    background-color: #03AAFB;
    color: #003853;
}

.service-item button:hover {
    background-color: #003853;
    color: #03AAFB;
}

.service-item:hover .shadow {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    transition: 500ms;
}

.service-item .shadow {
    transition: 500ms;
}

.service-item:hover .shadow .text-center i {
    transform: scale(1.1);
    color: #000;
    transition: 500ms;
}
.service-item .shadow .text-center i {
    transition: 500ms;
    color: #323232;
}

.service-item h2 {
    font-weight: bold;
    color: #003853;
}

@media only screen and (min-width: 992px) {
    .service-item .shadow {
        height: 46rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-item .shadow {
        height: 50rem;
    }
}