.whychoose-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #505050; /* Warna latar belakang */
  border-radius: 50%; /* Membuat latar belakang bundar */
  color: #fff; /* Warna ikon */
  font-size: 24px; /* Ukuran ikon */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek shadow */
}